In [2]:
import pandas as pd

In [51]:
df = pd.read_csv('yes_filtered.csv', index_col=[0])

In [52]:
df.shape

(245, 2)

In [53]:
df.head()

                                                Text    Matched Phrases
1  14th Rose - Handbags, Purses, Woman's Bags\r\n...     ['made in us']
2  Custom Swim Parkas | 20 Degrees Below - Brande...  ['american made']
3  Alexander Arms: Welcome to the Revolution\r\n ...      ['u.s. made']
4  American Kitchen Cookware | Made in the USAAme...     ['made in us']
5  Home - American Made Cutlery\r\nPages$10.00 – ...  ['american made']

In [54]:
df[df['Matched Phrases'] != '[]']['Matched Phrases'].unique()

array(["['made in us']", "['american made']", "['u.s. made']",
       "['made in us', 'patriot', 'veteran owned']",
       "['american made', 'usa made', 'usa based']", "['patriot']",
       "['made in america', 'u.s. manufactur']", "['usa manufactured']",
       "['made in america']", "['made in u.s.']",
       "['made in u.s.', 'american made']", "['us manufactured']",
       "['usa made']", "['made in u.s.', 'made in us', 'patriot']",
       "['made in u.s.', 'patriot']",
       "['made in america', 'made in us', 'american made']",
       "['made in us', 'usa made']", "['made in us', 'american made']",
       "['made in us', 'american made', 'buy american', 'buy america', 'american worker', 'american job']",
       "['american made', 'american worker', 'american job']",
       "['made in america', 'american made']",
       "['american made', 'american job']",
       "['made in america', 'american made', 'america manufactur']",
       "['made in us', 'us made']", "['american made', 'us made']",
       "['veteran owned']", "['american made', 'patriot']",
       "['buy american', 'buy america']",
       "['made in us', 'handcrafted in usa', 'handcrafted in us', 'crafted in us']",
       "['american made', 'buy american', 'buy america', 'patriot']",
       "['support u.s.']",
       "['handcrafted in america', 'crafted in america']",
       "['made in america', 'made in us', 'american made', 'patriot', 'veteran owned']",
       "['u.s. based']",
       "['american made', 'buy american', 'buy america']", "['buy usa']",
       "['made in america', 'made in us', 'american made', 'patriot', 'american worker']",
       "['made in america', 'made in us', 'american made', 'patriot']",
       "['made in us', 'american made', 'patriot']",
       "['american made', 'support america']", "['u.s. manufactur']",
       "['usa made', 'buy american', 'buy america', 'patriot']",
       "['made in america', 'made in us']",
       "['made in america', 'american made', 'patriot']",
       "['made in us', 'american made', 'buy american', 'buy america']",
       "['usa made', 'veteran owned']", "['us made']",
       "['made in america', 'usa made']"], dtype=object)

In [7]:
df_naive = pd.read_csv('naive_model_results_no.csv')
df_naive_yes = pd.read_csv('naive_model_results_yes.csv')

In [8]:
df_naive['Originial Sample'] = 'no_filtered'
df_naive_yes['Originial Sample'] = 'yes_filtered'

df_combined = pd.concat([df_naive, df_naive_yes], ignore_index=True)

In [9]:
df_combined.to_csv('naive_model_results.csv')

In [10]:
df_naive.shape

(1671, 4)

In [11]:
df_naive.head()

,Text,Matched Phrases,Phrase Found,Originial Sample
0,NaN,[],0,no_filtered
1,"Welcome to Regal Ware, Inc.\r ...",[],0,no_filtered
2,291 Colorado Whiskey - Award Winning Whiskeys ...,[],0,no_filtered
3,Home 21 & Over Under 21 View on Mobile,[],0,no_filtered
4,ABITA.COM ...,[],0,no_filtered

In [49]:
df_naive[df_naive['Matched Phrases'] != '[]']

Empty DataFrame
Columns: [Text, Matched Phrases, Phrase Found]
Index: []

In [50]:
df_naive['Matched Phrases'].unique()

array(['[]'], dtype=object)